<form action="/blancoNegro">
    <div class="mb-3">
        <label id="lblRuta" for="txtRutaImg" class="form-label">Imagen URL:</label>
        <input type="text" class="form-control" id="txtRutaImg" name="txtRutaImg">
    </div>
    <button type="submit" class="btn btn-primary">Subir Imagen al Servidor</button>
</form>