<div class="container">
    <h1>Imagen Gris</h1>
    <div class="row">
        <div class="col">
            <img src="/assets/img/{{imgGris}}" class="card-img-top" alt="...">
        </div>
    </div>
</div>